version: '3.8'

services:
  django:
    build: .
    container_name: postflow_django
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pgrep -f 'manage.py run_scheduler' && pgrep -f 'manage.py db_worker' && pgrep uwsgi"]
      interval: 30s
      timeout: 5s
      retries: 3
    env_file:
      - ./core/.env
    ports:
      - "8000:8000"
    volumes:
      - static_volume:/app/static
      - media_volume:/app/media
    command: >
      uwsgi --http 0.0.0.0:8000 --protocol uwsgi --wsgi core.wsgi:application

  nginx:
    build:
      context: ./AWS/nginx
    container_name: postflow_nginx
    restart: always
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - django
    volumes:
      - static_volume:/app/static
      - media_volume:/app/media
      - ./certbot/www:/var/www/certbot
      - ./certbot/conf:/etc/letsencrypt

  certbot-renewer:
    image: certbot/certbot
    container_name: certbot_renewer
    restart: always
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
      - /var/run/docker.sock:/var/run/docker.sock
      - ./AWS/certbot/renewer.sh:/renewer.sh:ro
    entrypoint: ["/bin/sh", "/renewer.sh"]

volumes:
  static_volume:
  media_volume:
