APScheduler>=3.10.4
Django==5.2.3
django-environ
requests==2.32.3
django_extensions==3.2.3
django-jsonfield==1.4.1
environ==1.0
Pillow
pytz
whitenoise
boto3
uwsgi
django-storages
psycopg2-binary
django-tailwind
django_browser_reload
django-htmx
Mastodon.py
stripe
