APScheduler>=3.10.4
Django>=6.0.1
django-tasks>=0.11.0
django-environ
requests>=2.32.3
django_extensions>=3.2.3
django-jsonfield>=1.4.1
environ>=1.0
Pillow>=11.3.0
pytz>=2025.2
whitenoise>=6.11.0
boto3>=1.40.48
uwsgi>=2.0.30
django-storages>=1.14.6
psycopg2-binary>=2.9.10
django-tailwind>=4.2.0
django_browser_reload>=1.21.0
django-htmx>=1.26.0
Mastodon.py>=2.1.4
stripe>=13.0.1
python-dateutil>=2.8.2
