{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% tailwind_css %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PostFlow</title>
</head>
<body class="antialiased text-slate-400 bg-gray-900 h-screen flex flex-col justify-between">
    <!-- Header Section -->
    <header class="bg-gray-900 pt-6 pb-4">
        <nav class="flex items-center justify-center">
            <h1 class="text-2xl font-bold text-white flex items-center space-x-4">
                <span class="text-xl">📸 PostFlow</span>
            </h1>
        </nav>
    </header>

    <!-- Main Content -->
    <main class="flex flex-col items-center justify-center text-center max-w-2xl mx-auto flex-grow">
        <div>
            <!-- Title with more accessible wording -->
            <h2 class="text-4xl font-extrabold text-gray-100">Social Media Management for Photographers</h2>
            
            <!-- Subtitle reworded to be concise and accessible -->
            <p class="text-xl text-gray-400 mt-6">
                Automate your social media posts and grow your audience effortlessly.
            </p>

            <!-- Tagline -->
            <p class="text-lg text-gray-300 mt-4 italic">
                No AI, your work, your photos.
            </p>
        </div>
    </main>
</body>
</html>

