{% load static %}


<div class="p-4 border rounded-lg shadow bg-white relative" id="group-{{ group.id }}">
  <!-- Group Title with Copy Button -->
  <div class="flex justify-between items-center">
    <h3 class="text-lg font-semibold text-gray-900">{{ group.name }}</h3>
    <button 
      class="p-1 bg-transparent hover:bg-gray-200 rounded focus:outline-none focus:ring-2 focus:ring-gray-400"
      onclick="copyHashtags('{{ group.id }}')"
      title="Copy Hashtags"
    >
      <img src="{% static 'postflow/icons/copy.svg' %}" alt="Copy" class="w-4 h-4">
    </button>
  </div>

  <p class="text-sm text-gray-600 mt-2" id="hashtags-{{ group.id }}">
    {% for tag in group.tags.all %}
      <span class="inline-block bg-gray-200 text-gray-800 text-xs font-semibold px-2 py-1 rounded mr-2">
        {{ tag.name }}
      </span>
    {% endfor %}
  </p>
</div>
