{% load static %}
{% load i18n %}
<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto grid max-w-2xl grid-cols-1 gap-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-5">
      <h2 class="col-span-2 text-pretty text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl">Stay on top of your game</h2>
      <dl class="col-span-3 grid grid-cols-1 gap-x-8 gap-y-16 sm:grid-cols-2">
        <div>
          <dt class="text-base/7 font-semibold text-gray-900">
            <div class="mb-6 flex size-10 items-center justify-center rounded-lg bg-indigo-600">
                <img src="{% static 'postflow/icons/hashtag.svg' %}" class="size-6 shrink-0" alt="Hashtag icon" />
            </div>
            Save your hashtags
          </dt>
          <dd class="mt-1 text-base/7 text-gray-600">Do you keep a note with hashtags to copy/paste? Save and re-use your most popular hashtags to include in your posts. Ensure your content gets to the right eyes.</dd>
        </div>
        <div>
          <dt class="text-base/7 font-semibold text-gray-900">
            <div class="mb-6 flex size-10 items-center justify-center rounded-lg bg-indigo-600">
              <img src="{% static 'postflow/icons/calendar.svg' %}" class="size-6 shrink-0" alt="Calendar icon" />
            </div>
            Schedule your content
          </dt>
          <dd class="mt-1 text-base/7 text-gray-600">Plan, and schedule your posting across social media. No more forgotten days. The calendar view let's you see what you already posted, what are you planning to share.</dd>
        </div>
        <div>
          <dt class="text-base/7 font-semibold text-gray-900">
            <div class="mb-6 flex size-10 items-center justify-center rounded-lg bg-indigo-600">
                <img src="{% static 'postflow/icons/analyse.svg' %}" class="size-6 shrink-0" alt="Hashtag icon" />
            </div>
            Analyse your photos
          </dt>
          <dd class="mt-1 text-base/7 text-gray-600">Analyse the content of your photos: color palette, orientation, and more. To better understand what you share, and how people interact with you.</dd>
        </div>
        <div>
          <dt class="text-base/7 font-semibold text-gray-900">
            <div class="mb-6 flex size-10 items-center justify-center rounded-lg bg-indigo-600">
                <img src="{% static 'postflow/icons/privacy.svg' %}" class="size-6 shrink-0" alt="Hashtag icon" />
            </div>
            Your photos, your data
          </dt>
          <dd class="mt-1 text-base/7 text-gray-600">You are the owner of our photos. We do not train or use any AI model with them. Your photos, your vision, your creativity.</dd>
        </div>
      </dl>
    </div>
  </div>
</div>
