<div class="px-4 sm:px-4 lg:px-8">
  <div class="sm:flex sm:items-center">
    <div class="w-full max-w-lg">
      <form 
        method="POST"
        action="{% url 'hashtags' %}"
        class="flex items-center gap-2"
        hx-post="{% url 'hashtags' %}"
        hx-target="#hashtags-table-body"
        hx-swap="afterbegin"
        hx-target-400="#error-message"
        hx-on="htmx:afterRequest:this.reset()">
        {% csrf_token %}
        {% if form.non_field_errors %}
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-4" role="alert">
          {{ form.non_field_errors }}
        </div>
        {% endif %}
        <div class="mt-2 flex items-center gap-2">
          <div class="mt-2">
            {{ form.hashtag }}
            {{ form.hashtag.errors }}
          </div>
        <button type="submit" class="rounded-md bg-indigo-600 px-4 py-3 text-sm font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
          Add hashtag
        </button>
      </div>
      </form>
      <div id="error-message" class="mt-2"></div>
    </div>
  </div>
<!-- Table Section -->
<div class="mt-8 flow-root">
  <div class="mx-auto w-40 sm:w-48 md:w-56"> <!-- Adjust width -->
    <div class="inline-block w-full py-2 align-middle">
      <table class="min-w-full divide-y divide-gray-300">
        <thead>
          <tr>
            <th scope="col" class="py-3.5 pr-3 pl-4 text-left text-sm font-semibold text-gray-900 sm:pl-0">
              Hashtag
            </th>
          </tr>
        </thead>
        <tbody id="hashtags-table-body" class="divide-y divide-gray-200">
          {% for hashtag in hashtags %}
            <tr>
              <td class="py-4 pr-3 pl-4 text-sm font-medium whitespace-nowrap text-gray-900 sm:pl-0">
                {{ hashtag.name }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
