<div class="bg-white">
  <div class="mx-auto max-w-7xl px-6 py-24 sm:pt-32 lg:px-8 lg:py-40">
    <div class="lg:grid lg:grid-cols-12 lg:gap-8">
      <div class="lg:col-span-5">
        <h2 class="text-pretty text-3xl font-semibold tracking-tight text-gray-900 sm:text-4xl">Privacy</h2>
        <p class="mt-4 text-pretty text-base/7 text-gray-600">Want to know more? <a href="#" class="font-semibold text-indigo-600 hover:text-indigo-500">reach out!</a><p>
      </div>
      <div class="mt-10 lg:col-span-7 lg:mt-0">
        <dl class="space-y-10">
          <div>
            <dt class="text-base/7 font-semibold text-gray-900">Who owns the data I upload?</dt>
            <dd class="mt-2 text-base/7 text-gray-600">You do. You remain the sole owner of all data and content you upload or generate through our service.</dd>
          </div>

          <div>
            <dt class="text-base/7 font-semibold text-gray-900">Do you use my data or photos to train AI models?</dt>
            <dd class="mt-2 text-base/7 text-gray-600">No. We do not use your data, photos, or any other personal content for training AI models or any form of machine learning.</dd>
          </div>

          <div>
            <dt class="text-base/7 font-semibold text-gray-900">Can I delete my data?</dt>
            <dd class="mt-2 text-base/7 text-gray-600">Yes. You can request deletion of your data at any time, and we will ensure it is permanently removed from our systems.</dd>
          </div>

          <div>
            <dt class="text-base/7 font-semibold text-gray-900">What is your service used for?</dt>
            <dd class="mt-2 text-base/7 text-gray-600">We act as an interface that lets you post to social media platforms and access analytics about your content’s performance. We do not publish or modify your content without your explicit action.</dd>
          </div>

          <div>
            <dt class="text-base/7 font-semibold text-gray-900">Where is my data stored?</dt>
            <dd class="mt-2 text-base/7 text-gray-600">All data is securely stored in the European Union, in our AWS region located in Frankfurt, Germany.</dd>
          </div>

          <div>
            <dt class="text-base/7 font-semibold text-gray-900">Do you share my data with third parties?</dt>
            <dd class="mt-2 text-base/7 text-gray-600">No. We do not sell, rent, or share your data with third parties except when required by law or when you explicitly authorize us to do so.</dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
</div>
